<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chat App</h1>
    <input type="text" placeholder="room" id="ip_room">
    <input type="text" placeholder="name" id="ip_name">
    <button onclick="joinRoom()">Join</button>

    <ul id="ul_messages"> 
    </ul>

    <input type="text" placeholder="type..." id="ip_message">
    <button onclick="sendMessage()">Send</button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client.js"></script>
</html>
