.menu {
    display: flex;
    background-color: cyan;
}

.menu .item {
    flex: 1;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.menu .item:hover {
    background-color: lightblue;
}

.menu .item:hover a{
    color: yellowgreen;
}